registry=https://mirrors.163.com/npm/
disturl=https://mirrors.163.com/nodejs-release/
electron_mirror=https://mirrors.163.com/electron/
sass_binary_site=https://mirrors.163.com/node-sass/
phantomjs_cdnurl=https://mirrors.163.com/phantomjs/
fsevents_binary_host_mirror=https://mirrors.163.com/fsevents/

